# ----------------------------
# OS Files
# ----------------------------
.DS_Store
.DS_Store?
Thumbs.db
ehthumbs.db
._*
.Spotlight-V100
.Trashes

# ----------------------------
# Python
# ----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual Environments
venv/
env/
.venv/
cv_env/
ml_env/

# Environment variables
.env

# ----------------------------
# Machine Learning Files
# ----------------------------
*.h5
*.pkl
*.pt
*.pth
*.pb

# Dataset (optional - remove if you want to upload dataset)
dataset/

# Temporary / cache
*.tmp

# ----------------------------
# Node.js / Next.js
# ----------------------------
node_modules/
.next/
out/
build/
.vercel/
.pnp
.pnp.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ----------------------------
# IDE / Editor
# ----------------------------
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ----------------------------
# Audio / Media
# ----------------------------
*.wav

# ----------------------------
# Misc
# ----------------------------
coverage/
dist/